{% for scope, value in scopes.items() -%}
{% for key in value.secrets -%}
{% if 'RSA' in key.variable_with_env -%}
 {{key.variable_with_env}}: |-
  {{key.value}}
{% else -%}
 {{key.variable_with_env}}: {{key.value}}
{% endif -%}

{% endfor %}
{% endfor %}